#work {
    fill: #ccff00;
}

#work2 {
    fill: #039bc5;
}

#work3 {
    fill: #ff8694;
}

#work4 {
    fill: #11ddcc;
}
#work5 {
    fill: #EC2049;
}
#text4 {
    fill: #000000;
}
#text4:hover {
    fill: #ffffff;
}
#text4 a{
    text-decoration: none;
}

.container1 {
    width: 100%;
    height: 100%;
    max-width: 600px;
    position: relative;
    margin: auto;
    padding-bottom:0;
    margin-bottom:0;
}

#facebook_svg {
    fill: #1e40af;
    padding-left: 5px;
}
#facebook_svg:hover {
    fill: #ffffff;
    padding-left: 5px;
}
#instagram_svg {
    fill: #1e40af;
    padding-left: 5px;
}
#instagram_svg:hover {
    fill: #ffffff;
    padding-left: 5px;
}
#twitter_svg {
    fill: #1e40af;
    padding-left: 5px;
}
#twitter_svg:hover {
    fill: #ffffff;
    padding-left: 5px;
}
#youtube_svg {
    fill: #1e40af;
    padding-left: 5px;
}
#youtube_svg:hover {
    fill: #ffffff;
    padding-left: 5px;
}